body, a {
	background-color: black;
	color: lime;
	margin: 0px;
}

#buildings {
		background-color: black;
		position: fixed;
		margin-bottom: 0px;		
		width: 700px
}

#buildings li {
	background-color: black;
}


#buildingsNav {
	background-color: brown;
	position: fixed;
	bottom: 75px;
}



#nav1 {
			width: 700px;
			background-color: black;
			position: fixed;
			top: 0px;
			min-width: 395px;
		}
		nav ul{
			margin: 0px;
			list-style-type: none;
			overflow: hidden;
			padding-left: 0px;


		}
		nav li {
			float: left;
			margin-left: 0px;
			padding-left: 0px;
			background-color: black;
			overflow: hidden;
			border: 1px solid; 
			width: 80px;
		}


#menu ul {
	background-color: blue;
	position: fixed;
	margin-right: 0px;
	right: 0px;
	list-style-type: none;
	padding-top: : 3px;
	border: 1px, lime ;
		}

#menu li {
	padding-bottom: 3px;
	margin-left: 0px;
}
